body {
    background-color: rgb(41, 44, 53);
}

.wrapper {
    display: flex;
    position: relative;
    width: 1000px;
    height: 400px;
    margin: 50px auto;

}

.container {
    margin-left: 100px;
    width: 400px;
    height: 370px;
    border: 3px solid rgb(96, 214, 245);
    border-radius: 10px;
}
.board {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    border: 3px solid rgb(96, 214, 245);
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.dataOnBoard{
    margin-top: 40px;
    font-size: 80px;
    color: rgb(96, 214, 245);
}
.buttons{
    width: 350px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    border: 3px solid rgb(96, 214, 245);
    border-radius: 10px;
   text-align: center;
}
button{
    margin-top: 20px;
    margin-left: 20px;
    width: 120px;
    height: 50px;
    background-color: rgb(96, 214, 245);
    border-radius: 10px;
    font-size: 30px;
}

.error {
    margin-top: 40px;
    font-size: 100px;
    font-weight: bolder;
    color: rgb(248, 5, 5);
}
.text{
width: 180px;
    height: 40px;
}
.inputWrapper{
   margin-top: 50px;
    margin-left: 30px;

}
.inputData{
    display: flex;
    width: 300px;
    height: 40px;
    color: rgb(96, 214, 245);
    font-size: 22px;
}
.inputStyle{

    margin-left: 10px;
    height: 25px;
    border: 3px solid rgb(96, 214, 245);
    border-radius: 10px;
}
.errorInputStyle{
    margin-left: 10px;
    height: 25px;
    border: 3px solid rgb(238, 3, 22);
    border-radius: 10px;
    background-color: #b95454;
}

.errorMessage{
    width: 300px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    border: 3px solid rgb(0, 9, 10);
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: #b95454;
}
.inError{
    font-size: 18px;
}
.blueBoard{
    width: 300px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    border: 3px solid rgb(0, 9, 10);
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: #11f3c8;
}