body {
    background: linear-gradient(rgb(142, 147, 150), rgb(236, 237, 238));
}

.wrapper {
    display: flex;
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 250px auto;
}

.container {
    margin-left: 100px;
    width: 400px;
    height: 370px;
    border: 1px solid rgb(108, 51, 27);;
    box-shadow: 4px 4px 18px 1px rgba(34, 60, 80, 0.26);
    background: linear-gradient(90deg, rgb(142, 147, 150), rgb(194, 200, 202));
}
.board {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid rgb(108, 51, 27);;
    text-align: center;
    position: relative;
    box-shadow: 4px 4px 18px 1px rgba(34, 60, 80, 0.26);
    background: linear-gradient(90deg, rgb(142, 147, 150),rgb(194, 200, 202));
}
.dataOnBoard{
    margin-top: 40px;
    font-size: 80px;
    color:  rgb(230, 235, 236);
}
.buttons{
    width: 350px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid rgb(108, 51, 27);
    box-shadow: 4px 4px 18px 1px rgba(34, 60, 80, 0.26);
    text-align: center;
    background: linear-gradient(90deg, rgb(142, 147, 150),rgb(194, 200, 202));
}
button{
    margin-top: 20px;
    margin-left: 20px;
    width: 120px;
    height: 50px;
    background-color: rgb(230, 235, 236);
    border-radius: 25px;
    font-size: 30px;
    box-shadow: 4px 4px 18px 1px rgba(34, 60, 80, 0.26);
}
button:disabled{
    color:  rgb(230, 235, 236);
    background-color:rgb(142, 147, 150);
}

.error {
    margin-top: 40px;
    font-size: 100px;
    font-weight: bolder;
    color: rgb(108, 51, 27);;
}
.text{
width: 180px;
    height: 40px;
}
.inputWrapper{
   margin-top: 50px;
    margin-left: 30px;

}
.inputData{
    display: flex;
    width: 300px;
    height: 40px;
    color: rgb(108, 51, 27);
    font-size: 22px;
}
.inputStyle{

    margin-left: 10px;
    height: 25px;
    border: 1px solid rgb(154, 111, 94);
    border-radius: 10px;
}
.errorInputStyle{
    margin-left: 10px;
    height: 25px;
    border: 1px solid rgb(238, 3, 22);
    border-radius: 10px;
    background-color: #b95454;
}

.errorMessage{
    width: 300px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid rgb(0, 9, 10);
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: #b95454;
}
.inError{
    font-size: 18px;
}
.blueBoard{
    width: 300px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid rgb(0, 9, 10);
    text-align: center;
    position: relative;
    background-color: rgb(176, 133, 115);
}